In [6]:
# optional:
# %load_ext rich

In [7]:
import numpy as np
import pandas as pd

Creation du dataset:

In [8]:
df = pd.DataFrame({
    "int": np.random.randint(0, 100, 300), 
    "float": np.random.uniform(0, 100, 300),
    "mean=2.5": np.random.normal(2.5, 5, 300),
    "binomial": np.random.binomial(10, 0.5, 300),
    "neg_binomial": np.random.negative_binomial(10, 0.5, 300),
    "poisson": np.random.poisson(10, 300),
})
df

     int      float  mean=2.5  binomial  neg_binomial  poisson
0     29  23.737642 -0.878217         4            14       11
1     65  17.207667 -4.953975         7             6        6
2     43  21.955834 -2.784912         3            13       15
3     25  51.200905  3.233240         5            16       12
4     37  82.835065  1.458487         4            16        6
..   ...        ...       ...       ...           ...      ...
295    6  95.223891  3.013407         2            11       10
296   61  13.632745  1.050090         5            14        8
297   53  36.114599 -0.986893         7            23        8
298    1  91.796232 -7.094485         6            18       10
299   15  19.013289  1.945009         6            16        7

[300 rows x 6 columns]

On regarde la correlation:

In [9]:
corr_matrix = df.corr()
corr_matrix

                   int     float  mean=2.5  binomial  neg_binomial   poisson
int           1.000000 -0.000776 -0.069322  0.092122     -0.066748  0.019063
float        -0.000776  1.000000 -0.095124 -0.000188     -0.001048 -0.089305
mean=2.5     -0.069322 -0.095124  1.000000 -0.088691     -0.108140 -0.050102
binomial      0.092122 -0.000188 -0.088691  1.000000      0.001071 -0.012308
neg_binomial -0.066748 -0.001048 -0.108140  0.001071      1.000000  0.102148
poisson       0.019063 -0.089305 -0.050102 -0.012308      0.102148  1.000000

On export le dataset créé en csv:

In [10]:
df.to_csv("./artificial_dataset.csv")