In [235]:
# optional:
# %load_ext rich

In [236]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

S = ?</br>
Y = {1, 2, 3, 4, 5}</br>
</br>
- Y = 1 if S < 100
- Y = 2 if 100 <= S < 1000
- Y = 3 if 1000 <= S < 10000
- Y = 4 if 10000 <= S < 100000
- Y = 5 if 100000 <= S
</br>
X E R</br>

In [237]:
df_base = pd.DataFrame(np.random.randint(0,1000000,size=(100000)))
df_pretty = pd.DataFrame()
df_pretty['1'] = df_base[df_base < 100].count()
df_pretty['2'] = df_base[(100 <= df_base) & (df_base < 1000)].count()
df_pretty['3'] = df_base[(1000 <= df_base) & (df_base < 10000)].count()
df_pretty['4'] = df_base[(10000 <= df_base) & (df_base < 100000)].count()
df_pretty['5'] = df_base[100000 <= df_base].count()
df_pretty["total"] = df_pretty.sum(axis=1)
df_pretty

   1  2  3  4   5  total
0  0  0  2  9  89    100

the loss function: </br>
square loss = l(y, z) = (y − z)²</br>
absolute loss: l(y, z) = |y − z|</br>

Bayes estimator for square loss = </br>
f(x) = {1 = P(1|X), 2 = P(2|X), 3 = P(3|X), 4 = P(4|X), 5 =P(5|X)}</br>
f(1) = P(1|X) = P(100/1000000) = P(1/10000)</br>
f(2) = P(2|X) = P((1000 - 100)/1000000) = P(9/10000)</br>
f(3) = P(3|X) = P((10000 - 1000)/1000000) = P(9/1000)</br>
f(4) = P(4|X) = P((100000 - 10000)/1000000) = P(9/100)</br>
f(5) = P(5|X) = P((1000000 - 100000)/1000000) = P(9/10)</br>

In [238]:
df_pretty['P(1)'] = df_pretty['1'] / df_pretty["total"]
df_pretty['P(2)'] = df_pretty['2'] / df_pretty["total"]
df_pretty['P(3)'] = df_pretty['3'] / df_pretty["total"]
df_pretty['P(4)'] = df_pretty['4'] / df_pretty["total"]
df_pretty['P(5)'] = df_pretty['5'] / df_pretty["total"]
df_pretty

   1  2  3  4   5  total  P(1)  P(2)  P(3)  P(4)  P(5)
0  0  0  2  9  89    100   0.0   0.0  0.02  0.09  0.89